<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/custum.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/custum.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Santa</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if(session.authenticated){ %>
              <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a></li>
               <% if(session.User.admin){ %>
              <li><a href="/user">User Administration</a></li>
              <% } %>
              <li><a href="#">Placeholder2</a></li>
            <% } %>
          </ul>
          <div class="navbar-right">
            <% if(session.authenticated){%>
            <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">Sign-out</a>
            <%}%>
          </div>
          <% if(!session.authenticated){ %>
              <form class="navbar-form navbar-right" action="/session/create">
                <div class="form-group">
                  <input type="text" placeholder="Email" name="email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
          <% } %>
        </div>
      </div>
    </div>
    <br>
    <div class="content">
    <%- body %>
    </div>
    <div class="container">
      <hr>
      <footer class="footer">
        <div class=pull-right>
          <a href="/">Imoca</a>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/customValidate.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
